@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap");

@import "tailwindcss";

@plugin "daisyui";

.font-rancho {
  font-family: "Rancho", cursive;
  font-style: normal;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar-bg {
  background-image:linear-gradient(rgba(106, 106, 106, 0.2), rgba(106, 106, 106, 0.2)), url('images/more/15.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-bg{
  background-image:linear-gradient(rgba(106, 106, 106, 0.2), rgba(106, 106, 106, 0.2)), url('images/more/11.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-copy-bg {
  background-image:linear-gradient(rgba(106, 106, 106, 0.2), rgba(106, 106, 106, 0.2)), url('images/more/24.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}